<a href="https://colab.research.google.com/github/DVBharath2005/Minor-Project/blob/main/notebookbd3f87ac8b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Youtube Video Link : https://youtu.be/Asm2_qgBK48

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
data = pd.read_csv('IMDB-Movie-Data.csv')

# 1. Display Top 10 Rows of The Dataset

In [7]:
data.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,0.00,71
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41

# 2. Check Last 10 Rows of The Dataset

In [ ]:
data.tail(10)

# 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [ ]:
data.shape

In [ ]:
print('Number of Rows',data.shape[0])
print('Number of Columns',data.shape[1])

# 4. Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [ ]:
data.info()

# 5. Check Null Values In The Dataset

In [ ]:
data.isnull().sum()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.heatmap(data.isnull())
plt.show()

# 6. Drop All The Missing Values

In [ ]:
data = data.dropna(axis=0)

In [ ]:
sns.heatmap(data.isnull())
plt.show()

# 7. Check For Duplicate Data

In [ ]:
dup_data=data.duplicated().any()
print("Are there any duplicated values in data?",dup_data)

# 8. Get Overall Statistics About The DataFrame

In [ ]:
data.describe()

# 9. Display Title of The Movie Having Runtime >= 180 Minutes

In [ ]:
data[data['Runtime (Minutes)']>=180]['Title']

# 10. In Which Year There Was The Highest Voting?

In [ ]:
sns.barplot(x='Year',y='Votes',data=data)
plt.title("Votes By Year")
plt.show()

# 11. In Which Year There Was The Highest Revenue?

In [ ]:
sns.barplot(x='Year',y='Revenue (Millions)',data=data)
plt.title("Revenue By Year")
plt.show()

# 12. Find The Average Rating For Each Director

In [ ]:
data.groupby('Director')['Rating'].mean().sort_values(ascending=False)

# 13. Display Top 10 Lengthy Movies Title

In [ ]:
le =data.nlargest(10,'Runtime (Minutes)')[['Title','Runtime (Minutes)']]. \
set_index('Title')

In [ ]:
sns.barplot(le['Runtime (Minutes)'],y=le.index)
plt.title('Top 5 Lengtly Movies')
plt.show()

# 14. Display Number of Movies Per Year

In [ ]:
sns.countplot(x='Year',data=data)
plt.title("Number of Movies Per Year")

# 15. Find Most Popular Movie Title (Higest Revenue)

In [ ]:
data.columns

In [ ]:
data[data['Revenue (Millions)'].max() == data['Revenue (Millions)']]['Title']

# 16. Display Top 10 Highest Rated Movie Titles And its Directors

In [ ]:
top_10=data.nlargest(10,'Rating')[['Title','Rating','Director']].set_index('Title')

In [ ]:
top_10

In [ ]:
sns.barplot(top_10['Rating'],top_10.index)
plt.title("Display Top 10 Highest Rated Movie Titles")

# 17. Display Top 10 Highest Revenue Movie Titles

In [ ]:
data.columns

In [ ]:
data.sort_values(by='Revenue (Millions)',ascending=False).head(10)

In [ ]:
top_10 = data.nlargest(10,'Revenue (Millions)')[['Title','Director','Revenue (Millions)']].set_index('Title')

In [ ]:
sns.barplot(top_10['Revenue (Millions)'],top_10.index)
plt.title("Display Top 10 Highest Revenue Movie Titles")
plt.show()

# 18.  Find Average Rating of Movies Year-wise

In [ ]:
data.columns

In [ ]:
data1=data.groupby('Year')['Year','Rating'].mean().\
sort_values(by='Rating',ascending=False).set_index('Year')

In [ ]:
data1

In [ ]:
plt.figure(figsize=(10,5))
sns.barplot(data1.index,data1['Rating'])
plt.show()

# 19. Does Rating Affect The Revenue?

In [ ]:
sns.scatterplot(x='Rating',y='Revenue (Millions)',data=data)

# Answer : Yes

# 20. Classify Movies Based on Ratings [Good,Better and Best]

In [ ]:
data.columns

In [ ]:
def rating(rating):
    if rating>=7.0:
        return 'Excellent'
    elif rating>=6.0:
        return 'Good'
    else:
        return 'Average'

In [ ]:
data['rating_cat']=data['Rating'].apply(rating)

In [ ]:
data.head(1)

# 21. Count Number of Action Movies

In [8]:
list1=[]
for value in data['Genre']:
    list1.append(value.split(','))

In [9]:
data['temp']=list1

In [ ]:
genre=input("Enter Genre you want to count : ").title()
count=0
for value in data['temp']:
    if genre in value:
        count=count+1
print("Total Count is",count)

# OR

In [ ]:
len(data[data['Genre'].str.contains('action',case=False)])